<div class="container__main">
  <div class="container__sidebar">
    <span class="label">Book an appointment With your bank</span>
    <input type="text" class="input" placeholder="Filter by Name" (keyup)="onWrite(value.value)" #value>
    <div class="wrap">
      <div class="container__items" *ngFor="let c of result">
        <span class="item" (click)="onClick(c.id, c.coordLat, c.coordLon, c.zoom)">{{c.name}}</span>
      </div>
    </div>
    <span class="item" *ngIf="boolean">Nessuna Città</span>
  </div>
  <!-- DatePicker -->
  <div class="container__datepicker" *ngIf="getIpService.datepicker">
    <div class="datepicker">
      <mat-form-field appearance="fill">
        <input matInput [matDatepicker]="picker" (dateInput)="addEvent('input', $event)"
          (dateChange)="addEvent('change', $event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <div class="container__submit">
        <span class="items" (click)="onClickSalva(events[0])">Salva</span>
        <span class="items" (click)="onClickAnnulla()">Annulla</span>
      </div>
    </div>
  </div>
  <div class="container__maps">
    <div id="map"></div>
  </div>
</div>

<div class="container__icon">
  <div class="icon" (click)="onClickIcon()"><i class="fas fa-arrow-up"></i></div>
</div>
