<div class="container__main">
  <div class="container__sidebar">
    <span class="label">Book an appointment With your bank
      <span (click)="onClickList()" class="container__list__icon">
        <i class="fas fa-list"></i>
      </span>
    </span>
    <input type="text" class="input" placeholder="Filter by Name" (keyup)="onWrite(value.value)" #value>
    <div class="wrap">
      <div class="container__items" *ngFor="let c of getIpService.filiali | async ">
        <span class="item" (click)="onClick(c.id, c.coordLat, c.coordLon, c.zoom, c.name)">{{c.name}}</span>
      </div>
    </div>
    <span class="item" *ngIf="boolean">Nessuna Città</span>

    <div class="container__button" (click)="logout()">
      <button class="button">Logout</button>
    </div>
  </div>
  <!-- DatePicker -->
  <div class="wrap__datepicker">
    <div class="container__datepicker"
      [ngClass]="{'active': getIpService.datepicker === true, 'remove': getIpService.datepicker === false}">
      <div class="wrap__items">
        <div class="container__name margin">
          <input type="text" placeholder="Insert Name" class="name" #name (keyup)="getName(name.value)" required>
        </div>
  
        <div class="datepicker">
          <mat-form-field appearance="fill" style="zoom: 66%; width: 79%;">
            <input matInput [matDatepicker]="picker" (dateInput)="addEvent('input', $event)" required
              (dateChange)="addEvent('change', $event)">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
  
          <div class="container__submit">
            <button class="items" *ngIf="visibleSalva" (click)="onClickSalva(events[0])">Salva</button>
            <span class="items" (click)="onClickAnnulla()">Annulla</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container__maps">
    <div id="map"></div>
  </div>
</div>

<div class="container__icon">
  <div class="icon" (click)="onClickIcon()"><i class="fas fa-arrow-up"></i></div>
</div>
