.container__main {
  display: flex;
  width: 100%;
  height: 100vh;
  position: relative;
  justify-content: space-between;
}

.container__sidebar {
  width: 250px;
  flex-direction: column;
  align-items: center;
  display: flex;
  padding: 15px 0px 0px 0px;
  position: relative;
  background: white;
  transition: 0.5s ease-in-out;
}

.remove__sidebar {
  margin-left: -255px !important;
}

.active__sidebar { }

.left__maps {
  transform: translate(-170px, 0%);
  width: 100vw !important;
}

.width {
  width: 100vw !important;
}

.right__maps {
  transform: translate(0%, 0%);
}

.close__sidebar {
  display: flex;
  position: absolute;
  width: 100%;
  height: 95%;
  justify-content: flex-end;
  align-items: flex-end;
  margin-left: 35px;
  transition: 0.5s ease-in-out;
}

.container__close__icon {
  z-index: 10;
}

.fa-arrow-circle-left,
.fa-arrow-circle-right {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.container__button {
  display: flex;
  width: 100%;
  justify-content: center;
  height: auto;
  z-index: 1;
}

.button {
  border: 2px solid red;
  border-radius: 4px;
  padding: 5px;
  transition: 0.5s;

  &:hover {
    background: red;
    color: white;
    zoom: 110%;
  }
}

.input {
  border: 0;
  border-bottom: 2px solid black;
  margin: 30px 0px;

  &:focus {
    outline: none;
  }
}

.label {
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: auto;
  padding-left: 25px;
}

.fa-list {
  cursor: pointer;
}

.container__list__icon {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 10px 0px 0px -10px;
  z-index: 1;
}

.wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: auto;
  z-index: 1;
}

.container__items {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 40px;
  align-items: center;

  &:last-child {
    margin-bottom: 20px;
  }
}

.item {
  display: flex;
  padding: 3px;
  cursor: pointer;
  border: 2px solid rgb(119, 113, 113);
  width: 80%;
  margin: 0 auto;
  margin-bottom: 2px;
  align-items: center;
  justify-content: center;
  background: transparent;
  transition: 0.5s;

  &:hover {
    background: linear-gradient(
      196deg,
      rgba(233, 66, 255, 1) 0%,
      rgba(136, 56, 255, 1) 87%
    );
    color: white;
    border: 2px solid rgb(233, 97, 7);
  }
}

.container__maps {
  display: flex;
  height: 100vh;
  width: 100%;
  z-index: 1;
  transition: 0.5s ease-in-out;
}

#map {
  height: 100%;
  width: 100%;
}

.container__icon {
  display: none;
}

.container__datepicker {
  align-items: center;
  opacity: 0;
  top: -100%;
}

.container__datepicker.active {
  display: flex;
  justify-content: center;
  opacity: 1;
  z-index: 3;
  height: 100vh;
  transform: translate(0%, 0%) scale(1);
  transition: transform 300ms;
}

.container__datepicker.remove {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  align-items: center;
  opacity: 0;
  top: -100%;
  transform: translate(0%, 20%) scale(0.5);
  transition: all 300ms ease-in-out;
  z-index: -1;
}

.wrap__datepicker {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container__name {
  z-index: 10;
  width: 300px;
  padding: 7px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
}

.wrap__items {
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
}

.datepicker {
  z-index: 10;
  width: 300px;
  padding: 7px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  margin-top: -1px;
}

.margin {
  padding: 25px 0px 11px 0px;
}

.name {
  border: 0;
  border-bottom: 1px solid;
  width: 64%;
  margin-left: -11px;

  &:focus {
    outline: none;
  }
}

.container__submit {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.items {
  display: flex;
  padding: 3px;
  cursor: pointer;
  border: 2px solid #777171;
  width: 80px;
  font-size: 13px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  background: transparent;
  transition: 0.5s;

  &:hover {
    background: linear-gradient(
      196deg,
      rgba(233, 66, 255, 1) 0%,
      rgba(136, 56, 255, 1) 87%
    );
    color: white;
    border: 2px solid rgb(233, 97, 7);
  }
}

@media screen and (max-width: 500px) {
  .container__main {
    flex-direction: column;
    height: 100%;
  }
  .container__sidebar {
    width: 90%;
    margin: 0 auto;
    height: 400px;
  }

  .container__icon {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 60px;
    bottom: 0;
    right: 0;
    padding: 0px 10px 0px 0px;
    z-index: 10;
  }

  .fa-arrow-up {
    color: rgb(45, 176, 216);
    background: rgb(73, 63, 214);
    padding: 10px;
    border-radius: 50%;
    width: 26px;
    height: 26px;
  }

  .icon {
    display: flex;
  }

  .close__sidebar {
    display: none;
  }
}
