.container__main {
  display: flex;
  width: 100%;
  height: 100vh;
  position: relative;
  justify-content: space-between;
}

.container__sidebar {
  width: 17rem;
  flex-direction: column;
  align-items: center;
  display: flex;
  padding: 15px 15px 0px 15px;
}

.input {
  border: 0;
  border-bottom: 2px solid black;
  margin: 30px 0px;

  &:focus {
    outline: none;
  }
}

.label {
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  display: flex;
  height: auto;
}

.wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: auto;
}

.container__items {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 40px;
  align-items: center;

  &:last-child {
    margin-bottom: 20px;
  }
}

.item {
  display: flex;
  padding: 3px;
  cursor: pointer;
  border: 2px solid rgb(119, 113, 113);
  width: 80%;
  margin: 0 auto;
  margin-bottom: 2px;
  align-items: center;
  justify-content: center;
  background: transparent;
  transition: 0.5s;

  &:hover {
    background: linear-gradient(
      196deg,
      rgba(233, 66, 255, 1) 0%,
      rgba(136, 56, 255, 1) 87%
    );
    color: white;
    border: 2px solid rgb(233, 97, 7);
  }
}

.container__maps {
  display: flex;
  height: 100vh;
  width: 100%;
  z-index: 1;
}

#map {
  height: 100%;
  width: 100%;
}

.container__icon {
  display: none;
}

.container__datepicker {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  align-items: center;
}

.datepicker {
  z-index: 10;
  width: 300px;
  box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
  padding: 7px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
}

.name {
  border: 0;
  border-bottom: 1px solid;
  width: 64%;
  margin-left: -11px;

  &:focus {
    outline: none;
  }
}

.container__submit {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.items {
  display: flex;
  padding: 3px;
  cursor: pointer;
  border: 2px solid #777171;
  width: 80px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  background: transparent;
  transition: 0.5s;

  &:hover {
    background: linear-gradient(
      196deg,
      rgba(233, 66, 255, 1) 0%,
      rgba(136, 56, 255, 1) 87%
    );
    color: white;
    border: 2px solid rgb(233, 97, 7);
  }
}

@media screen and (max-width: 500px) {
  .container__main {
    flex-direction: column;
    height: 100%;
  }
  .container__sidebar {
    width: 90%;
    margin: 0 auto;
    height: 400px;
  }

  .container__icon {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 60px;
    bottom: 0;
    right: 0;
    padding: 0px 10px 0px 0px;
    z-index: 10;
  }

  .fa-arrow-up {
    color: rgb(45, 176, 216);
    background: rgb(73, 63, 214);
    padding: 10px;
    border-radius: 50%;
    width: 26px;
    height: 26px;
  }

  .icon {
    display: flex;
  }
}
