<form class="login100-form validate-form flex-sb flex-w" [formGroup]="profileForm">
  <span class="login100-form-title p-b-53">
    Sign Up
  </span>
  <div style="display: flex; width: 100%; justify-content: space-between;">
    <a href="#" class="btn-face m-b-20">
      <i class="fab fa-facebook-square"></i>
      <span class="label__icon">Facebook</span>
    </a>

    <a href="#" class="btn-google m-b-20">
      <img src="./../../../assets/images/icons/icon-google.png" alt="GOOGLE">
      <span class="label__icon">Google</span>
    </a>
  </div>

  <div style="display: flex; width: 100%; flex-direction: column">
    <div class="p-t-31 p-b-9 container__label">
      <span class="txt1">
        Username *
      </span>
    </div>
    <div class="wrap-input100 validate-input" data-validate="Email is required">
      <input class="input100" type="text" name="email" formControlName="email" #email>
      <span class="focus-input100"></span>
    </div>
    <span *ngIf="profileForm.controls.email.errors?.pattern && profileForm.controls.email.touched">Email
      non corretta</span>

    <div class="p-t-13 p-b-9 container__label">
      <span class="txt1">
        Password *
      </span>

      <a href="#" class="txt2 bo1 m-l-5">
        Forgot?
      </a>
    </div>
    <div class="wrap-input100 validate-input" data-validate="Password is required">
      <input class="input100" type="password" formControlName="password" name="pass" #password>
      <span class="focus-input100"></span>
    </div>
    <span *ngIf="profileForm.controls.password?.errors?.required && profileForm.controls.password.touched">Inserire
      Password</span>
    <span *ngIf="profileForm.controls.password?.errors?.minlength && profileForm.controls.password.touched">Password
      Troppo Corta (min 6 caratteri)</span>
  </div>

  <span *ngIf="errors">Errore</span>
  <div class="container-login100-form-btn m-t-17">
    <button class="login100-form-btn" (click)="onClick(email.value, password.value)">
      Sign In
    </button>
  </div>

  <div class="w-full text-center p-t-55">
    <span class="txt2">
      Are you a member?
    </span>

    <a href="#" class="txt2 bo1" (click)="onClickSignIn()">
      Sign In Now
    </a>
  </div>
</form>